.panel.panel-default
  .panel-heading
    %h4.panel-title Offers API Request Form
  .panel-body.panel-body-nopadding
    - form_tag '/get_offers', class: 'form-horizontal form-bordered', id: :search_form do
      .form-group
        = label_tag :uid, class: 'col-sm-2 control-label', caption: 'Unique User ID'
        .col-sm-2
          = input_tag :text, name: :uid, value: params[:uid], class: 'form-control'
        = label_tag :pub0, class: 'col-sm-2 control-label', caption: 'Custom parameter'
        .col-sm-1
          = input_tag :text, name: :pub0, value: params[:pub0], class: 'form-control'
        = label_tag :page, class: 'col-sm-1 control-label', caption: 'Page'
        .col-sm-1
          = input_tag :text, name: :page, value: params[:page], class: 'form-control', type: 'number'
        .input-group-btn
          = button_tag :request, class: 'btn btn-default'

      .panel.panel-default#search-results-panel
  #offers_table_header.panel-heading{ style: 'display:none' }
    %h4.panel-title Offers List
  .panel-body
    #no_offers.form-horizontal.form-bordered{ style: 'display:none' }
      .form-group
        .col-sm-2
          No offers available

    #offers-result.form-horizontal.form-bordered
    #templates{ style: 'display:none' }
      .form-group.result_item
        %img.item-thumbnail
        .col-sm-4
          .item-title
          .item-payout